body {
    font-family: Arial, sans-serif;
}

#openSidebarBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 20px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

#closeSidebarBtn {
    position: absolute;
    top: 20px;
    left: 200px;
    font-size: 18px;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#closeSidebarBtn:hover {
    color: #f1f1f1;
}
